@{
    ViewBag.Title = "JOKR Soft";
}

<div class="jumbotron">
    <h1>JOKR Soft</h1>
    <p class="lead">JOKR Soft offers you the best Tournament Tracker for ASP.NET, using state of the art programming languages for only 99 bitcoins you can be a proud user, completely free software. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Please abort page &raquo;</a></p>
</div>

<div class="row">

</div>